@page
@model MyFirstRazorWebPage.Pages.BrowsePicture.IndexModel
@{
    ViewData["Title"] = "Admin Page - Upload Picture";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload Picture</title>
</head>
<body>

    <h1>Upload Picture for @Model.UserRec.EmailAdd (@Model.UserRec.FirstName)</h1>


    <form method="post" enctype="multipart/form-data">
        <div class="text-danger"></div> <!--asp-validation-summary="ModelOnly" -->

        <div class="form-group">
            <label for="img">Select image:</label>
            <input type="file" asp-for="UploadFile" onchange="readURL(this);" />
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </form>

    <img id="displayImg" src="" alt="User Picture" style=" max-width:180px;">
    <p id="demo"></p>

    <p><strong>Note:</strong> Please upload picture that less than 10MB.</p>
    <p>
        <a asp-page="/AdminPage/Edit" asp-route-id="@Model.UserRec.ID" style="color: red;">@ViewData["Message"]</a>
    </p>

    <div>
         <a asp-page="/AdminPage/UserDetails">Back to List</a>

    </div>

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {

                    document.getElementById("displayImg").setAttribute("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }</script>

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>