@page
@model MyFirstRazorWebPage.Pages.UserLoggedIn.SuccessLogInModel


@{
    ViewData["Title"] = "User Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Page</title>
</head>

<body>

   
    <h1 style="text-align:center">Welcome @Model.UserName</h1>

    <div>
        <a asp-page="/UserServices/UserProfile">View/Update Profile</a>|
        <a asp-page="/UserServices/ViewRegisteredModule">View Registered Services</a>|
        <a asp-page="/UserServices/RegisterServices">Register Services</a>|
        <a asp-page="/UserServices/DeregisterModule">De-Register Services</a>|
        <a asp-page="/UserLoggedIn/UserLogout">Logout</a>
    </div>

</body>

</html>