@page
@model MyFirstRazorWebPage.Pages.UserLoggedIn.UserLogoutModel
@{
    ViewData["Title"] = "Logged Out Page";
}

<div>
    You have logged out from the system
</div>

<div>
    <a asp-page="/Users/UserLogin">Login</a>
</div>