@page
@model MyFirstRazorWebPage.Pages.About.BirminghamModel
@{
    ViewData["Title"] = "StyleX Birmingham";
}

<h1>
    StyleX: Birmingham
</h1>
<h2>
    Services we offer:
</h2>
<h2> - Hair</h2>
<h2> - Nails</h2>
<h2>  - Face</h2>
<h2>  - Threading</h2>
<h2>  - Waxing</h2>
<h2>   - Beauty</h2>
<p>
    Contact us:
</p>
<p>
    Email: StyleXbirmingham@ymail.com
</p>
<p>
    Telephone: 000-000-000
</p>
<p>
    Or come in store:
</p>
<p>
    123 Road Name
</p>
<p>
    Birmingham City Center
</p>
<p>
    Birmingham
</p>
<p>
    B1 000
</p>
