@page
@model MyFirstRazorWebPage.Pages.About.SheffieldModel
@{
    ViewData["Title"] = "StyleX Sheffield";
}

<h1>
    StyleX: Sheffield
</h1>
<h2>
    Services we offer:
</h2>
<h2> - Hair</h2>
<h2> - Nails</h2>
<h2>  - Face</h2>
<h2>  - Threading</h2>
<h2>  - Waxing</h2>
<h2>   - Beauty</h2>
<p>
    Contact us:
</p>
<p>
    Email: StyleXsheffield@ymail.com
</p>
<p>
    Telephone: 000-000-000
</p>
<p>
    Or come in store:
</p>
<p>
    123 Road Name
</p>
<p>
    Sheffield City Center
</p>
<p>
    Sheffield
</p>
<p>
    S1 000
</p>
