@page
@model MyFirstRazorWebPage.Pages.AdminPage.AdminLogoutModel
@{
    ViewData["Title"] = "Logged Out Page";
}

<div>
    You have logged out from the system
</div>

<div>
    <a asp-page="/AdminPage/Index2">Login</a>
</div>