@page
@model MyFirstRazorWebPage.Pages.AdminPage.CreateModel

@{
    ViewData["Title"] = "Staff Page - New Staff Creation";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>AdminUser</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AdminUser.StaffNo" class="control-label"></label>
                    <input asp-for="AdminUser.StaffNo" class="form-control" />
                    <span asp-validation-for="AdminUser.StaffNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminUser.FirstName" class="control-label"></label>
                    <input asp-for="AdminUser.FirstName" class="form-control" />
                    <span asp-validation-for="AdminUser.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminUser.AdminUserName" class="control-label"></label>
                    <input asp-for="AdminUser.AdminUserName" class="form-control" />
                    <span asp-validation-for="AdminUser.AdminUserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminUser.AdminPassword" class="control-label"></label>
                    <input asp-for="AdminUser.AdminPassword" class="form-control" />
                    <span asp-validation-for="AdminUser.AdminPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add new Staff" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to Staff List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
