@page
@model MyFirstRazorWebPage.Pages.IndexModel
@{ ViewData["Title"] = "Index"; }


<style>

    #map {
        width: 650px;
        height: 650px;
        background-color: grey;
        margin: auto;
    }
</style>

<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">Generic Hair Salon</h1>
        <h3>Welcome to our Appointment Booking System!</h3>
        <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit lorem ipsum, in dictum ligula faucibus a. Fusce at ligula et elit dapibus ultricies sit amet at elit. Praesent sed diam dolor. Duis ornare volutpat dignissim. Phasellus arcu turpis, convallis vitae lacus sit amet, vehicula suscipit quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin quis metus ipsum. Phasellus iaculis venenatis est ac ornare. Sed iaculis at magna vel blandit.</h4>
    </div>
</div>

<link href="~/js/site.js" />
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNS6tsvRWNeCkHyvMc7I4gFkEsILPdLE4"></script>



<div>
    <p asp-for="@Model.Message" style="word-wrap: break-word; text-align: justify;
            text-justify: inter-word; padding-left: 60px; padding-right: 60px " class="control-label">@Model.Message</p>
            <br />

  

       
    




