@page
@model MyFirstRazorWebPage.Pages.IndexModel
@{ ViewData["Title"] = "Index"; }


<style>

    #map {
        width: 650px;
        height: 650px;
        background-color: grey;
        margin: auto;
    }
</style>


<link href="~/js/site.js" />
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNS6tsvRWNeCkHyvMc7I4gFkEsILPdLE4"></script>

<h1 style="text-align:center">Welcome to the Hair Salon Booking System</h1>
<hr>

<div>
    <p asp-for="@Model.Message" style="word-wrap: break-word; text-align: justify;
            text-justify: inter-word; padding-left: 60px; padding-right: 60px " class="control-label">@Model.Message</p>
            <br />

  

       
    




