@page
@model MyFirstRazorWebPage.Pages.IndexModel
@{ ViewData["Title"] = "Index"; }

<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">StyleX Hair Salon</h1>
        <h3>Welcome to our Appointment Booking System!</h3>
        <h4>Below you can view the cities we currently have branches in </h4>
    </div>
</div>

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Locations</button>
    <div id="myDropdown" class="dropdown-content">
        <a asp-page="/About/Ldn">London</a>
        <a asp-page="/About/York">York</a>
        <a asp-page="/About/Leeds">Leeds</a>
    </div>
</div>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<p> Existing customers can login to track current appointments, create new appointments and to cancel appointments. New customers can create an account.</p>


  

       
    




