@page
@model MyFirstRazorWebPage.Pages.IndexModel
@{ ViewData["Title"] = "Index"; }

<div>
    <h1 style="font-size:50px">StyleX Hair Salon</h1>
    <h3>Welcome to the official StyleX Appointment Tracker!</h3>
    </div>

<h3> Current News and Updates:</h3>

<div>
    <p asp-for="@Model.Message" style="word-wrap: break-word; text-align: justify;
         text-justify: inter-word;" class="control-label">@Model.Message</p>
    </div>


  

       
    




