@page
@model MyFirstRazorWebPage.Pages.Customers.CreationSuccessfulModel
@{
    ViewData["Title"] = "Sign up successful";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>

    <body>
        <p>
            Customer sign up successful!
        </p>



        <div>
            <a href="/Index">Back to Homepage</a> |
            <a href="./CustomerLogin">Login Page</a>
        </div>


    </body>
    </html>
