@page
@model MyFirstRazorWebPage.Pages.UserServices.UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>User Profile</h4>
        <hr />
     </div>

    <div>

        <dl class="row">
            <dt class="col-sm-2">
                First Name :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                Email Address :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmailAdd)
            </dd>
            <dt class="col-sm-2">
                Password :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pwd)
            </dd>
        </dl>

    </div>



    <div>

        <a asp-page="/UserLoggedIn/SuccessLogIn">User Homepage</a>|
        <a asp-page="/UserServices/ViewRegisteredModule">View Registered Services</a>|
        <a asp-page="/UserServices/RegisterServices">Register Services</a>|
        <a asp-page="/UserServices/DeregisteredServices">De-Register Services</a>|
        <a asp-page="/UserLoggedIn/UserLogout">Logout</a>
    </div>
</body>
</html>