@page
@model MyFirstRazorWebPage.Pages.CustomerLoggedIn.CustomerLogoutModel
@{
    ViewData["Title"] = "Logged Out Page";
}

<div>
    You have logged out from the system
</div>

<div>
    <a asp-page="/Customers/CustomerLogin">Login</a>
</div>