@page
@model MyFirstRazorWebPage.Pages.StaffPage.DeletePictureModel
@{
    ViewData["Title"] = "Staff Page - Delete Customer Picture";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Customer Picture</title>

</head>

<body>

    <h3>Are you sure you want to delete picture?</h3>
    <div>
        <h4>Customer Picture</h4>
        <hr />



        <dl class="row">

            <dt class="col-sm-2">
                <img id="displayImg" src="~/Images/@Model.PicName" alt="Customer Picture" style=" max-width:180px;" /><br>

                File Name : @Model.PicName

            </dt>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Customer.ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./CustomerDetails">Back to List</a>
        </form>
    </div>



</body>
</html>