@page
@model MyFirstRazorWebPage.Pages.StaffPage.Index2Model
@{
    ViewData["Title"] = "Staff Page";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 style="text-align:center">Staff Portal</h1><hr>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StaffUser.StaffNo" class="control-label">Staff No.</label>
                    <input asp-for="StaffUser.StaffNo" class="form-control"/>
                    <span asp-validation-for="StaffUser.StaffNo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StaffUser.StaffPassword" class="control-label">Insert Password</label>
                    <input type="password" asp-for="StaffUser.StaffPassword" class="form-control" />
                    <span asp-validation-for="StaffUser.StaffPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>

                <div class="form-group">
                    <p style="color: red">@Model.Msg</p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>