@page
@model MyFirstRazorWebPage.Pages.StaffPage.StaffLogoutModel
@{
    ViewData["Title"] = "Logged Out Page";
}

<div>
    You have logged out from the system
</div>

<div>
    <a asp-page="/StaffPage/Index2">Login</a>
</div>